.stickyRightSidebar {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: auto;
    right: 40px;
    z-index: 10;
    color: var(--sideBar);
}

.stickyMail {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
}

.stickyMail a {
    transform: rotate(90deg);
    color: var(--sideBar);
    margin-bottom: 110px;
    font-size: 14px;
    letter-spacing: 1px;
    transition: var(--tr);
}

.stickyMail a:hover {
    color: var(--primary);
    transform: rotate(90deg) translate(-3px);
}

.stickyMail::after {
    content: '';
    display: block;
    width: 2px;
    height: 90px;
    margin: 0px auto;
    background-color: var(--sideBar);
}
