.stickyRightSidebar {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: auto;
    right: 40px;
    z-index: 10;
}

.stickyRight {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 100px);
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.stickyRight a {
    transform: rotate(90deg);
    color: var(--sideBar);
    margin-bottom: 110px;
    font-size: 14px;
    letter-spacing: 1px;
    transition: var(--tr);
}

.stickyRight a:hover {
    color: var(--primary);
    transform: rotate(90deg) translate(-3px);
}

.stickyRight::after {
    content: '';
    display: block;
    width: 2px;
    height: 90px;
    margin: 0px auto;
    background-color: var(--sideBar);
}
