.bannerSection .container {
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.title-sm {
    color: var(--green);
    margin-bottom: 10px;
}

.title-dim {
    color: var(--slate);
    margin-bottom: 20px;
}

.banner-text {
    max-width: 600px;
    margin-bottom: 20px;
}
