.headerSection {
    position: sticky;
    top: 0;
    z-index: 100;
}

.headerSection .pageContainer {
    background-color: var(--navy-bg);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: var(--tr);
}
.headerSection .pageContainer.headerScroll {
    background: rgba(17, 34, 64, 0.78);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14.2px);
    -webkit-backdrop-filter: blur(14.2px);
    height: 80px;
    box-shadow: 0 20px 30px -15px var(--shadow);
}

.siteLogo {
    cursor: pointer;
    font-size: 28px;
}

.navigation {
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 30px;
}

.navigation a:not(:last-child) {
    color: var(--lightest-steel);
    font-family: var(--font-secondary);
    letter-spacing: 1px;
    transition: var(--tr);
}

.navigation a:hover {
    color: var(--green);
}

.header-btn {
    margin-left: 15px;
}

.hamburger {
    display: none;
}

.wrapper {
    display: block;
    position: relative;
    width: 25px;
    height: 25px;
}

.wrapper .bun:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 12%;
    background: var(--lightest-steel);
    border-radius: 100px;
    transition: all 0.5s cubic-bezier(0.1, 0.9, 0, 1.2);
    top: 10%;
    right: 0;
}

.wrapper .bun:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 12%;
    background: var(--lightest-steel);
    border-radius: 100px;
    transition: all 0.5s cubic-bezier(0.1, 0.9, 0, 1.2);
    bottom: 10%;
    left: 0;
}

.wrapper .bun .burger {
    position: absolute;
    display: flex;
    align-items: center;
    height: 25px;
    width: 25px;
}

.wrapper .bun .burger:before,
.wrapper .bun .burger:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 12%;
    background: var(--lightest-steel);
    border-radius: 100px;
    transition: all 0.5s cubic-bezier(0.1, 0.9, 0, 1.2);
}

.wrapper input {
    display: block;
    position: absolute;
    opacity: 0;
    z-index: 1;
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: var(--tr);
}

.wrapper input:hover ~ .bun:before,
.wrapper input:hover ~ .bun:after,
.wrapper input:hover ~ .bun :before,
.wrapper input:hover ~ .bun :after {
    background: var(--green);
}
.wrapper input:checked ~ .bun:before,
.wrapper input:checked ~ .bun:after {
    width: 0;
}
.wrapper input:checked ~ .bun .burger:before {
    transform: rotate(135deg);
}
.wrapper input:checked ~ .bun .burger:after {
    transform: rotate(45deg);
}

/* Medium devices (landscape tablets, 992px and down) */
@media only screen and (max-width: 992px) {
    body {
        overflow-x: hidden;
    }

    .navigation {
        background-color: var(--light-navy);
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        transform: translateX(100%);
        transition: var(--tr);
        box-shadow: -10px 0px 30px -15px var(--shadow);
    }

    .mobile-nav {
        transform: translateX(0%);
    }

    .navigation a {
        font-size: 18px;
    }

    .hamburger {
        display: inline-block;
    }

    .header-btn {
        margin-left: 0;
    }
}
