.headerSection .pageContainer {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.siteLogo {
    cursor: pointer;
}

.navigation {
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 30px;
}

.navigation a {
    color: #ccd6f6;
    transition: var(--tr);
}

.navigation a:hover {
    color: #64ffda;
}