.headerSection {
    background-color: var(--navy-bg);
    position: sticky;
    top: 0;
    z-index: 100;
}

.headerSectionScroll {
    background-color: var(--navy-bg);
    position: sticky;
    top: 0;
    box-shadow: 0 20px 30px -15px var(--shadow);
    z-index: 100;
}

.headerSection .pageContainer {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerSectionScroll .pageContainer {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.siteLogo {
    cursor: pointer;
}

.navigation {
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 30px;
}

.navigation a:not(:last-child) {
    color: #ccd6f6;
    font-family: var(--font-secondary);
    letter-spacing: 1px;
    transition: var(--tr);
}

.navigation a:hover {
    color: #64ffda;
}

.header-btn {
    margin-left: 15px;
}