.aboutSection .container {
    padding: 80px 0px;
}

.sectionTitle {
    margin-bottom: 40px;
}

.sectionTitle h3 {
    display: flex;
    align-items: center;
}

.sectionTitle h3::after {
    content: "";
    display: block;
    position: relative;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: var(--light-navy);
}

.aboutMe {
    display: grid;
    grid-template-columns: 6fr 4fr;
    gap: 40px;
}

.AboutMeContent p {
    margin-bottom: 20px;
}

.skillsList {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 10px;
}

.skillsList li {
    position: relative;
    display: flex;
    padding-left: 20px;
    align-items: center;
}

.skillsList li::before {
    content: "▹";
    position: absolute;
    left: 0px;
    color: var(--primary);
    line-height: 12px;
}

.AboutMeImg img {
    border-radius: 8px;
}

.AboutMeImg::after {
    border: 2px solid var(--primary);
    top: 20px;
    left: 20px;
    z-index: -1;
}