.aboutSection .container {
    padding: 80px 0px;
}

.aboutMe {
    display: grid;
    grid-template-columns: 6fr 4fr;
    gap: 40px;
}

.AboutMeContent p {
    margin-bottom: 20px;
}

.skillsList {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 10px;
}

.skillsList li {
    position: relative;
    display: flex;
    padding-left: 20px;
    align-items: center;
}

.skillsList li::before {
    content: '▹';
    position: absolute;
    left: 0px;
    color: var(--green);
    line-height: 12px;
}

.AboutMeImg img {
    border-radius: 8px;
}

.AboutMeImg::after {
    border: 2px solid var(--green);
    top: 20px;
    left: 20px;
    z-index: -1;
}

/* Extra small devices (576px to 768px) */
@media only screen and (min-width: 577px) and (max-width: 768px) {
    .skillsList {
        gap: 8px;
    }
}

/* Extra small devices (phones, 576px and down) */
@media only screen and (max-width: 576px) {
    .aboutSection .container {
        padding: 50px 0px;
    }

    .aboutMe {
        display: flex;
        flex-direction: column-reverse;
        gap: 40px;
    }
}
