h1,
h2,
h3,
h4,
h5 {
    color: var(--heading);
}

h1 {
    font-size: 60px;
    line-height: 85px;
}

h2 {
    font-size: 60px;
    line-height: 66px;
}

h3 {
    font-size: 32px;
    line-height: 35px;
}

h4 {
    font-size: 28px;
    line-height: 31px;
}

h5 {
    font-size: 22px;
    line-height: 29px;
}

p,
a {
    font-size: 16px;
    line-height: 26px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.pageContainer {
    padding: 0px 50px;
}

.pageMainContainer {
    padding: 0px 150px;
}

a,
.highlight {
    color: var(--primary);
}

.btn {
    background-color: transparent;
    color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 4px;
    padding: 12px 16px;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: var(--secondary-font);
    cursor: pointer;
    transition: var(--tr);
}

.btn:hover {
    background-color: rgba(100, 255, 218, 0.1);
}
