/* text and headings style */
h1,
h2,
h3,
h4,
h5 {
    color: var(--lightest-steel);
}

h1 {
    font-size: 60px;
    line-height: 85px;
}

h2 {
    font-size: 60px;
    line-height: 66px;
}

h3 {
    font-size: 28px;
    line-height: 33px;
}

h4 {
    font-size: 24px;
    line-height: 28px;
}

h5 {
    font-size: 22px;
    line-height: 29px;
}

p,
a {
    font-size: 16px;
    line-height: 26px;
}

.text-sm {
    font-size: 14px;
    line-height: 24px;
}

/* images style */
img {
    width: 100%;
}

/* list style */
li {
    font-family: var(--font-secondary);
    letter-spacing: 1px;
    
}

/* container */
.container {
    max-width: 1000px;
    margin: 0 auto;
}

.pageContainer {
    padding: 0px 50px;
}

.pageMainContainer {
    padding: 0px 150px;
}

/* button and highlight */
a,
.highlight {
    color: var(--green);
}

.btn {
    display: inline-block;
    background-color: transparent;
    color: var(--green);
    border: 1px solid var(--green);
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: var(--font-secondary);
    cursor: pointer;
    transition: var(--tr);
}

.btn:hover {
    background-color: rgba(100, 255, 218, 0.1);
}

.btn-large {
    padding: 14px 28px;
}

/* section title */

.title-sm {
    font-family: var(--font-secondary);
    letter-spacing: 1px;
}

.sectionTitle {
    margin-bottom: 40px;
}

.sectionTitle h3 {
    display: flex;
    align-items: center;
}

.sectionTitle h3::after {
    content: "";
    display: block;
    position: relative;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: var(--light-navy);
}