:root {
    --green: #64ffda;
    --navy-bg: #0a192f;
    --navy: #112240;
    --light-navy: #233554;
    --lightest-steel: #ccd6f6;
    --light-steel: #a8b2d1;
    --slate: #8892b0;
    --shadow: rgba(2,12,27,0.7);
    --font-primary: 'Poppins', sans-serif;
    --font-secondary: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
    --tr: 0.3s ease-in-out;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: var(--font-primary);
    font-size: 16px;
    background-color: var(--navy-bg);
    color: var(--slate);
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--slate);
    border-radius: 8px;
}
