:root {
    --primary: #64ffda;
    --bg: #0a192f;
    --heading: #ccd6f6;
    --sideBar: #a8b2d1;
    --body: #8892b0;
    --primary-font: 'Poppins', sans-serif;
    --secondary-font: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
    --tr:.3s ease-in-out;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: var(--primary-font);
    font-size: 18px;
    line-height: 23px;
    background-color: var(--bg);
    color: var(--body);
}

code {
    font-family: var(--secondary-font);
}
