.stickyLeftSidebar {
    width: 40px;
    position: fixed;
    z-index: 10;
}

.stickyLeft {
    display: flex;
    position: fixed;
    bottom: 0;
    flex-direction: column;
    height: calc(100vh - 100px);
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.stickyLeft a {
    color: var(--light-steel);
    transition: var(--tr);
}

.stickyLeft a:last-child {
    margin-bottom: 10px;
}

.stickyLeft a:hover {
    color: var(--green);
    transform: translateY(-3px);
}

.stickyLeft a svg {
    height: 20px;
    width: 20px;
}

.stickyLeft::after {
    content: '';
    display: block;
    width: 2px;
    height: 90px;
    margin: 0px auto;
    background-color: var(--light-steel);
}

/* Medium devices (landscape tablets, 689px and up) */
@media only screen and (max-width: 992px) {
    .stickyLeftSidebar {
        display: none;
    }
}
