.projectCard {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.projectCard:not(:last-child) {
    margin-bottom: 80px;
}

.projectCard:nth-child(2), .projectCard:nth-child(4) {
    flex-direction: row;
}

.projectContent {
    width: 50%;
    text-align: right;
    z-index: 10;
}

.projectCard:nth-child(2) .projectContent, .projectCard:nth-child(4) .projectContent {
    text-align: left;
}

.projectImg {
    width: 50%;
}

.projectImg img {
    width: 115%;
    border-radius: 4px;
}

.projectCard:nth-child(2) .projectImg, .projectCard:nth-child(4) .projectImg {
    width: 55%;
}

.projectCard:nth-child(2) .projectImg img, .projectCard:nth-child(4) .projectImg img {
    width: 100%;
}

.title-sm {
    margin-bottom: 5px;
}

.projectContent {
    margin-bottom: 0;
}

.for-desktop h4, .for-mobile h4 {
    display: inline-block;
    transition: var(--tr);
}

.for-desktop h4:hover, .for-mobile h4:hover {
    color: var(--green);
}

.projectImg img {
    box-shadow: 0 10px 30px -15px var(--shadow);
    transition: var(--tr);
    z-index: 1;
}

.projectName {
    margin-bottom: 20px;
}

.projectDetails {
    box-shadow: 0 20px 30px -15px var(--shadow);
    background-color: var(--navy);
    color: var(--light-steel);
    padding: 25px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.projectCard:nth-child(2) .projectDetails, .projectCard:nth-child(4) .projectDetails {
    width: 115%;
}

.projectTechList {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.projectTechList p {
    font-size: 14px;
    color: var(--light-steel);
}

.projectLink {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.projectCard:nth-child(2) .projectLink, .projectCard:nth-child(4) .projectLink,
.projectCard:nth-child(2) .projectTechList, .projectCard:nth-child(4) .projectTechList {
    justify-content: flex-start;
}

.projectLink a:nth-child(2), .projectLink a:nth-child(4) {
    margin-top: -4px;
}

.projectLink a svg {
    width: 20px;
    height: 20px;
    color: var(--lightest-steel);
    transition: var(--tr);
}

.projectLink a svg:hover {
    color: var(--green);
}

.for-mobile {
    display: none;
}

/* Medium devices (landscape tablets, 689px and up) */
@media only screen and (min-width: 689px) and (max-width: 992px) {
    .projectContent {
        width: 65%;
    }

    .projectCard:not(:last-child) {
        margin-bottom: 60px;
    }
}

/* Extra small devices (576px to 768px) */
@media only screen and (min-width: 577px) and (max-width: 768px) {
    .projectContent {
        width: 70%;
    }

    .projectCard:not(:last-child) {
        margin-bottom: 60px;
    }

    .projectCard:nth-child(2) .projectDetails, .projectCard:nth-child(4) .projectDetails {
        width: 105%;
    }
}

/* Extra small devices (phones, 576px and down) */
@media only screen and (max-width: 576px) {
    .projectCard:not(:last-child) {
        margin-bottom: 60px;
    }
    
    .projectCard, .projectCard:nth-child(2), .projectCard:nth-child(4) {
        flex-direction: column-reverse;
    }
    
    .projectContent {
        width: 100%;
        text-align: left;
    }
    
    .projectCard:nth-child(2) .projectContent, .projectCard:nth-child(4) .projectContent {
        text-align: left;
    }
    
    .projectImg {
        width: 100%;
        margin-bottom: 20px;
    }
    
    .projectImg img {
        width: 100%;
        border-radius: 4px;
    }
    
    .projectCard:nth-child(2) .projectImg, .projectCard:nth-child(4) .projectImg {
        width: 100%;
    }

    .projectCard:nth-child(2) .projectDetails, .projectCard:nth-child(4) .projectDetails {
        width: 100%;
    }

    .projectDetails {
        padding: 20px;
    }

    .projectTechList {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
        margin-bottom: 10px;
    }

    .for-desktop {
        display: none;
    }

    .for-mobile {
        display: block;
    }

    .projectLink {
        justify-content: flex-start;
    }
}
